body{
    color: #1f2937;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    margin: 0;
}

.section-one,
.footer {
    color: #f9faf8;
    background-color: #1f2937;
}

.section-one {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px;
}

.header {
    display: flex;
    width: 1000px;
    max-width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 18px 0px;
}

.logo {
    font-size: 24px;
    font-weight: 900;
}

ul {
    margin: 0;
    padding: 0px;
    list-style-type: none;
    font-size: 18px;
    display: flex;
    gap: 18px;
}

.hero {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center; 
    width: 1000px;
    max-width: 100%;
    margin: 80px 0;
    gap: 35px;  
}

.hero-left {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 14px;
    width: 50%;
}

.hero-title {
    font-size: 48px;
    font-weight: 900;
}

.hero-subtext {
    font-size: 18px;
    color: #e5e7eb;
}

.signup-button {
    color: #f9faf8;
    background-color: #3882f6;
    width: 100px;
    height: 24px;
    padding: 5px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-image {
    background-color:rgb(156, 157, 172);
    width: 450px;
    height: 220px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section-two {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 100px;
    max-width: 100%;
}

.info-title {
    text-align: center;
    font-size: 36px;
    font-weight: 1000;
    padding: 50px 0;
}

.cubes-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 45px;
}

.cube-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}

.blue-cube {
    width: 150px;
    height: 150px;
    border: 3px solid #3882f6;
    border-radius: 10px;
}

.cube-text {
    color: rgb(83, 83, 83);
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    max-width: 200px;
}

.section-three {
    color: #1f2937;
    background-color: #e5e7eb;
    display: flex;
    justify-content: center;
    align-items: center;
}

.quote-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 120px 0;
    width: 830px;
    max-width: 100%;
}

.quote-text {
    font-size: 36px;
    font-style: italic;
    font-weight: lighter;
    display: flex;
    justify-content: center;
    align-items: center;
}

.quote-author {
    font-size: 24px;
    font-weight: bold;
    display: flex;
    justify-content: flex-end;
}

.section-four {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 150px 0;
}

.model {
    color: #e5e7eb;
    background-color: #3882f6;
    width: 1000px;
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
    padding: 50px 100px;
    border-radius: 10px;
}

.model-left {
    display: flex;
    flex-direction: column;
}

.model-title {
    font-size: 24px;
    font-weight: bold;
}
 
.white {
    border: 2px solid #e5e7eb;
}
