body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
}


.header,
.section-one,
.footer {
    color: #f9faf8;
    background-color: #1f2934;
}

.section-one {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header {
  display: flex;
  width: 1050px;
  justify-content: space-between;
  align-items: center;
  padding: 18px 0px;
}

.logo {
    font-size: 24px;
    font-weight: 900;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
    font-size: 18px;
    color: #e5e7eb;
    display: flex;
    gap: 24px;
}

/*section-one*/
.hero-banner {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    margin: 100px 0px;
}

.hero-title {
    font-size: 48px;
    font-weight: bold;
    width: 500px;
}

.hero-subtext {
    color: #e5e7eb;
    font-size: 18px;
    width: 450px;
    margin-bottom: 18px;
}

.signup-button {
    width: fit-content;
    border: 1px;
    padding: 10px 30px;
    border-radius: 10px;
}

.hero-image {
    width: 500px;
    height: 200px;
    background-color: gray;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*section-two*/

.cubes-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding-bottom: 50px;
    gap: 100px;
}

.cube {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: auto;
}

.info-title {
    display: flex;
    justify-content: center;
    padding: 30px 0;
    color: #1f2937;
    font-size: 36px;
    font-weight: 900;
}

.blue-cube {
    width: 150px;
    height: 150px;
    border: 2px solid #3882f6;
    border-radius: 10px;
}


.section-three {
    background-color: #e5e7eb;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px;
}

.quote-container{
    width: 900px;
}

.quote-text{
    color: #1f2937;
    font-size: 36px;
    font-style: italic;
}

.quote-author {
    font-size: 22px;
    font-weight: bold;
    display: flex;
    justify-content: flex-end;
    padding: 18px;
}

.section-four {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
}
.model {
    width: 600px;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 80px;
    border-radius: 10px;
}

.signup-button,
.model {    
    color: #f9faf8;
    background-color: #3882f6;
}

.model-title{
    font-weight: bold;
    margin-bottom: 5px;
}

.signup-button.white {
    border: 2px solid #f9faf8;
    padding: 8px;
    border-radius: 10px;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12px;
}